@import '../../vars.css';

.section {
	background-color: var(--color-text);
}

.containers {
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
}

.header {
	text-align: center;
	color: var(--color-secondary);
	font-weight: 500;
	font-family: var(--font-fantasy);
	letter-spacing: 2px;
	font-size: 3rem;
	margin-bottom: 10px;
	text-transform: uppercase;
	padding-top: 1rem;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 4rem;
	border-bottom: 1px dashed white;
	padding: 1rem;
	margin-bottom: 1rem;
}

.container:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.image {
	width: 452px;
	height: 350px;
	border-radius: 5px;
}

.title {
	font-size: 1.7rem;
	font-family: fantasy;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: var(--color-secondary);
}

.description {
	font-size: 1.2rem;
	font-family: var(--font-roboto);
	margin-bottom: 10px;
	text-align: justify;
	line-height: 30px;
	font-weight: 500;
	color: var(--color-secondary);}

.githubInfo {
	display: flex;
	gap: 2rem;
	font-family: var(--font-fantasy);
	margin-bottom: 10px;
}

.githubInfo a {
	text-decoration: none;
	font-size: 1.3rem;
	background-color: var(--color-secondary);
	color: var(--color-text);
	padding: 10px 20px;
	font-family: var(--font-fantasy);
	letter-spacing: 1px;
	transition: all 300ms ease;
	text-transform: uppercase;
	border-radius: 1px;
}

.githubInfo a:hover {
	background-color: var(--color-primary);
}

@media screen and (max-width: 830px) {
	.containers {
		margin-right: 3%;
		margin-left: 3%;
	}

	.header {
		font-size: 2rem;
	}

	.container {
		flex-direction: column;
		margin-top: 0;
		gap: .7rem;
	}

	.image {
		width: 100%;
		height: 250px;
	}

	.title {
		font-size: 1.4rem;
	}

	.description {
		font-size: 1rem;
		text-align: left;
	}

	.githubInfo a {
		font-size: 1rem;
		font-family: var(--font-fantasy);
		padding: 10px;
		font-weight: 500;
	}
}