@import '../../vars.css';

.containers {
	margin-left: 10%;
	margin-right: 10%;
	overflow: hidden;
}

.header {
	text-align: center;
	color: black;
	font-weight: 500;
	font-family: var(--font-fantasy);
	letter-spacing: 2px;
	font-size: 3rem;
	margin-bottom: 10px;
	text-transform: uppercase;
	padding-top: 1rem;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 4rem;
	border-bottom: 1px dashed black;
	padding: 1rem;
	margin-bottom: 1rem;
}

.container:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.image {
	width: 352px;
}

.title {
	font-size: 1.7rem;
	font-family: fantasy;
	font-weight: 500;
	letter-spacing: 1px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.description {
	font-size: 1.2rem;
	font-family: var(--font-roboto);
	margin-bottom: 10px;
	text-align: justify;
	line-height: 30px;
	font-weight: 600;
}

.dates {
	display: flex;
	margin-left: 16px;
	gap: 2rem;
	font-family: var(--font-fantasy);
	font-size: 1rem;
	margin-bottom: 10px;
}

.link {
	text-decoration: none;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 10px 20px;
	font-family: var(--font-fantasy);
	letter-spacing: 1px;
	transition: all 300ms ease;
}

.link:hover {
	background-color: var(--color-primary);
}

@media screen and (max-width: 830px) {
	.containers {
		margin-right: 3%;
		margin-left: 3%;
	}

	.header {
		font-size: 2rem;
	}

	.container {
		flex-direction: column;
		margin-top: 0;
		gap: .7rem;
	}

	.image {
		width: 100%;
	}

	.title {
		font-size: 1rem;
	}

	.description {
		font-size: 1rem;
		text-align: left;
	}

	.dates {
		font-size: .8rem;
	}

	.link {
		font-size: 1rem;
	}
}